body
{
    background-color: white;
    font-family: Helvetica, Arial,Sans
}

svg 
{
    /* fill: white; */
    /* background-color: white; */
    /* fill: none; */
}

path
{
    fill-opacity: 0;
    fill: none;
}
		      
path.town
{
    stroke: white;
    fill: white;
    fill-opacity: 1;
}

.closeup path.town
{
    fill-opacity:0.9;
}

path.town.zoomed{
    pointer-events: none; 
    fill-opacity: 0.0;
}

path.block
{
    stroke: white;
    fill:gray;
    fill-opacity: 1;
}

#map-controls {
    margin-bottom: 3px;
}

#map-controls .pill
{
    float: left;
    color: gray;

    border-radius: 3px;
    margin-right: 3px;

    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.9em;
}

.loading
{
    display: none;
}

#map-controls .pill
{
    cursor: default;
}

#map-controls .pill.clickable
{
    cursor: zoom-out;
    background-color: gainsboro;
}

#map-controls .pill.clickable:hover{
    background-color: lightskyblue;
    color: white;
}
		
.clear-both
{
    clear: both;
}

#tilemap
{
    z-index: 100;
    position: absolute;
}    

#container
{
    z-index: 200;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
}

#dual_container
{
    position: reative;
}